{% extends 'base.html' %} {% block title %}New post{% endblock %} {% block
content %}

<h1>New post from {{user.first}} {{user.last}}</h1>

<form action="/users/{{user.id}}/posts/new" method="POST">
  <div class="form-group">
    <label for="title">Post Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Moby Dick"
    />
  </div>
  <div class="form-group">
    <label for="content">Post Content</label>
    <textarea
      type="form-control"
      id="content"
      class="form-control"
      name="content"
      placeholder="Call me Ishmael."
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
